build
dist / media
node_modules
.DS_Store
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml


# Already checked files

.env
.env.example
bun.lock
tsconfig.json
tsconfig.tsbuildinfo
tailwind.config.mjs
README.md
next-env.d.ts
postcss.config.mjs
